<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aunsetre.mapper.ArtcleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.aunsetre.pojo.ArtcleType" >
    <id column="aTid" property="atid" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from artcletype
    where aTid = #{atid,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.aunsetre.pojo.ArtcleType" >
    insert into artcletype (aTid, name)
    values (#{atid,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aunsetre.pojo.ArtcleType" >
    update artcletype
    set name = #{name,jdbcType=VARCHAR}
    where aTid = #{atid,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select aTid, name
    from artcletype
    where aTid = #{atid,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select aTid, name
    from artcletype
  </select>
</mapper>